html, head, body {
    border: none;
}

* {
    font-family: Arial, Liberation Sans, sans-serif;
}

body {
    background-color: wheat;
}

div#container {
    width: 960px;
    margin: auto;
}

header {
    height: 50px;
}

header, main {
    width: 100%;
    text-align: center;
}


div.outerbox {
    background-color: #ebd5ad;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 16px;
    margin-bottom: 20px;
}

div.command {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    height: 50px;
    background-color: wheat;
    border-radius: 8px;
    padding: 5px;
}

div.command-text {
    height: 32px;
    width: 885px;
    margin: 9px;
    float: left;
    padding: 0px;
}

input.command-text {
    margin-top: auto;
    margin-bottom: auto;
    height: calc(100% - 6px);
    width: 100%;
    display: block;
    float: left;
    font-size: 16px;
}

button.controlbutton {
    border: none;
    width: 42px;
    height: 42px;
    font-size: 25px;
    border-radius: 5px;
    color: white;
}

button.icon-plus {
    background-color: #00ff00;
}

button.icon-minus {
    background-color: #e20000;
}

button.icon-ok {
    background-color: rgb(0, 225, 255);
    margin-left: 50px;
}

textarea#command-output {
    resize: none;
    width: 920px;
    height: 320px;
}

div#controlpanel.outerbox {
    width: 208px;
    margin-left: auto;
    margin-right: auto;
}